.house-container-background {
  background: #f2f3f6;
  padding: 20px 0px;
}

.house-wrapper {
  max-width: 1280px;
  margin: auto;
}

.house-container {
  display: flex;
  max-width: 960px;
  position: relative;
  margin: 20px 0px;
  height: 245px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.house-container img {
  max-width: 400px;
  width: 100%;
  object-fit: cover;
}

.house-container:hover img ~ .house-info {
  background-color: #e8e9ed;
}

.house-info {
  width: 100%;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: background-color 0.3s ease-out;
}

.house-info h1 {
  font-size: 25px;
}

.house-info-price {
  font-size: 22px;
  font-weight: 700;
}

.house-info-location {
  font-size: 18px;
}

.house-info-description {
  max-width: 500px;
}

.house-heart-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 1320px) {
  .house-container-background {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1020px) {
  .house-container-background {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .house-container {
    flex-direction: column;
    margin: initial;
    height: initial;
  }

  .house-info {
    max-width: 400px;
  }
}

@media (max-width: 460px) {
  .house-container-background {
    padding: 20px 0px;
  }

  .house-container {
    width: 90%;
  }

  .house-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
