.sorry-message-container {
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 1320px) {
  .sorry-message-container {
    padding-left: 30px;
    margin: initial;
  }
}

@media (max-width: 1020px) {
  .sorry-message-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
  }

  .sorry-message-container h1 {
    max-width: 450px;
  }
}

@media (max-width: 410px) {
  .sorry-message-container h1 {
    max-width: 320px;
  }
}
